<div>
  <label for="contact-name"></label>
  <input type="text" [(ngModel)]="newContact.name">
</div>
<div>
  <label for="contact-email"></label>
  <input type="text" [(ngModel)]="newContact.email">
</div>
<div>
  <label for="contact-phone"></label>
  <input type="text" [(ngModel)]="newContact.phoneNumber">
</div>
<div>
  <label for="contact-image"></label>
  <input type="text" [(ngModel)]="newContact.image">
</div>



<button (click)="addContact()">Submit New Contact</button>


<h3>All Contacts</h3>
    <ul *ngFor="let contact of contacts" class="container">
        
      <li  class="row">
      <div class="col-lg-6">
       <br> {{ contact.name }}
       <br> {{ contact.email }}
       <br> {{ contact.phoneNumber }}
      </div>

       <img class="img-circle" style="height:200px;width:200px;float:right;margin-bottom:50px;margin-right:100px" src="{{contact.image}}"/>


      </li>
   
    </ul>
